<div class="page-header">
  <h1>
    <translate>New Concept:</translate>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/concept-list">
      <translate>List concepts</translate>
    </a>
  </li>
  <li class="active">
    <translate>New Concept</translate>
  </li>
</ol>

<div ng-show="msg" class="alert alert-warning fade in" ng-class="msg.classes">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
  <strong>
    <translate>CF Concept Message</translate>
    !: </strong> {{ msg.text }}.
</div>

<div class="jumbotron" ng-show="!showForm">
  <p>
    <translate>Select a concept from the version control?</translate>
  </p>

  <a class="btn btn-default" href="" role="button" ng-click="showVersionPanel()">
    <translate>Yes</translate>
  </a>
  <a class="btn btn-default" href="" role="button" ng-click="showForm = true">
    <translate>No</translate>
  </a>
</div>

<div ng-if="showForm" class="col-md-12">
  <button type="button" class="btn btn-default pull-right btn-circle btn-lg" ng-click="openVersionConceptPanel()">
    <i class="glyphicon glyphicon-list"></i>
  </button>
</div>

<div ng-if="showForm">
  <div class="form-group">
    <!--<label>-->
    <!--<translate>Concept Builder (directive cf-form)</translate>-->
    <!--</label>-->

    <div class="col-md-12">
      <div cfconceptdrag ng-model="formObject.data_concept"></div>
    </div>
  </div>
  <div class="form-group">
    <label>
      <translate>Name</translate>
    </label>
    <input type="text" class="form-control" ng-model="formObject.name" placeholder="Name of Concept"
           ng-enter="createConcept(formObject)" required>
  </div>
  <div class="form-group">
    <label>
      <translate>Description</translate>
    </label>
    <textarea class="form-control" rows="3" ng-model="formObject.description"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" ng-click="createConcept(formObject)">Create Concept</button>
</div>