<div class="page-header">
  <a ng-href="#/concept-new" class="btn btn-primary btn-lg pull-right" title="New Concept" role="button">
    <i class="glyphicon glyphicon-plus"></i>
  </a>

  <h1>
    <translate>Show Concept:</translate>
    <strong>{{ formObject.name }}</strong>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/concept-list">
      <translate>List concepts</translate>
    </a>
  </li>
  <li>
    <a href="#/concept-edit/{{ formObject.id }}">
      <translate>Edit Concept</translate>
    </a>
  </li>
  <li class="active">
    <translate>Show Concept</translate>
    : <strong>{{ formObject.name }}</strong>
  </li>
  <li>
    <a class="text-danger" href="#/concept-remove/{{ formObject.id }}">
      <translate>Remove Concept</translate>
    </a>
  </li>
</ol>

<div class="row">
  <div class="col-lg-8">
    <cfform-show ng-model="model" fields="formObject.data_concept.model"></cfform-show>
  </div>
  <div class="col-lg-4">
    <pre>{{ model | json }}</pre>
  </div>
</div>