<div class="page-header">
  <h1>
    <translate>Example Builder:</translate>
  </h1>
</div>

<ol class="breadcrumb">
  <li>
    <a href="#/form-list">
      <translate>List Forms</translate>
    </a>
  </li>
  <li class="active">
    <translate>See builder only</translate>
  </li>
</ol>

<div class="col-lg-12">
  <!--<div cfform ng-model="data_form"></div>-->
  <div cfformdrag ng-model="data_form_ex" concepts="concepts"></div>
</div>